@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --background-color: #191919;
    --block-background: #27272a;
    --markdown-background: #2f2f32;
    --white: white;
    --white-05: rgba(255, 255, 255, 0.05);
    --white-06: rgba(255, 255, 255, 0.06);
    --white-08: rgba(255, 255, 255, 0.08);
    --white-10: rgba(255, 255, 255, 0.1);
    --white-50: rgba(255, 255, 255, 0.5);
    --text-f4: #f4f4f5;
    --text-a1:#a1a1aa;
    --menu-background: #202020;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Personnalisation de la scrollbar */
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color:var(--markdown-background);
    padding: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-color); 
    transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    cursor: pointer;
}


@font-face {
    font-family: "SF Pro Regular";
    src: url('@/assets/fonts/sf-pro-text-regular.otf');
}

@font-face {
    font-family: "SF Pro Medium";
    src: url('@/assets/fonts/sf-pro-text-medium.otf');
}

@font-face {
    font-family: "SF Pro SemiBold";
    src: url('@/assets/fonts/sf-pro-text-semibold.otf');
}